/* PiP */
@-moz-document url("chrome://global/content/pictureinpicture/player.xhtml")
{
  html {
    border: 0px solid rgba(255, 0, 0, 255) !important;
    border-radius: 1rem !important;
  }
}

/* Hide attention icon (green dot) under tab icons */
#navigator-toolbox {
  .tabbrowser-tab:is([image], [pinned])
    > .tab-stack
    > .tab-content[attention]:not([selected]),
  .tabbrowser-tab
    > .tab-stack
    > .tab-content[pinned][titlechanged]:not([selected]) {
    background-image: none !important;
  }
  .tabbrowser-tab
    > .tab-stack
    > .tab-content[titlechanged]:not([selected="true"]) {
    background-image: none !important;
  }
}

/* Floating Statusbar */

#statuspanel {
  margin: 10px !important;
}

#statuspanel-label {
  border-radius: 10000px !important;
  padding: 2px 10px !important;
  border: 1px solid var(--zen-colors-border) !important;
  background: var(--zen-colors-tertiary) !important;
}

/* Natsumi Findbar */

@keyframes initial-animation {
  from {
    top: 0;
    opacity: 0;
  }

  to {
    top: 20px;
    opacity: 1;
  }
}

@media not (-moz-bool-pref: "natsumi.findbar.disabled") {
  /*noinspection CssInvalidFunction*/
  findbar {
    position: absolute;
    top: 20px;
    width: min(550px, 90%);
    right: 20px;
    min-height: 70px;
    height: auto !important;
    flex-wrap: wrap;
    border-radius: var(--zen-border-radius);
    background: rgba(0, 0, 0, 0.25) !important;
    backdrop-filter: blur(10px);
    border: 1px solid light-dark(rgba(20, 20, 20, 0.2), rgba(235, 235, 235, 0.3)) !important;
    opacity: 1;
    transition: background 0.2s ease, opacity 0.2s ease, visibility 0.2s ease, top 0.2s ease, box-shadow 0.2s ease !important;
    box-shadow: 0 0 10px color-mix(in srgb, var(--zen-secondary-color) 75%, light-dark(black, white)) !important;
    animation: initial-animation 0.2s ease;
    }

    /*noinspection CssInvalidPropertyValue*/
    &:is([hidden="true"]) {
      visibility: inherit !important;
      pointer-events: none !important;
      opacity: 0 !important;
      top: 0 !important;
    }

    /*noinspection CssInvalidFunction*/
    &:has(.findbar-textbox:is([status="notfound"])) {
      @media not (-moz-bool-pref: "natsumi.findbar.disable-not-found-bg") {
        background: color-mix(in srgb, light-dark(rgb(255, 146, 146), rgb(255, 100, 100)) 75%, transparent) !important;
        box-shadow: 0 0 10px color-mix(in srgb, light-dark(rgb(255, 146, 146), rgb(255, 100, 100)) 75%, light-dark(black, white)) !important;
      }
    }

    /*noinspection CssInvalidPropertyValue*/
    .findbar-closebutton {
      outline: none !important;
      order: 1;
    }

    .findbar-container {
      margin-left: 10px !important;
      margin-bottom: 5px !important;
      flex-wrap: wrap;
      height: auto !important;
      row-gap: 10px;

      /*noinspection CssInvalidFunction*/
      & > :first-child {
        width: 100% !important;
        margin-top: 5px !important;
        padding-bottom: 10px !important;
        border-bottom: 1px solid light-dark(rgba(20, 20, 20, 0.2), rgba(235, 235, 235, 0.3)) !important;

        &::before {
          content: "";
          width: 16px !important;
          min-width: 16px !important;
          background-image: url(chrome://global/skin/icons/search-glass.svg) !important;
          background-repeat: no-repeat;
          margin-top: 4px;
          margin-right: 15px;
          margin-left: 5px;

          @media (prefers-color-scheme: dark) {
            filter: invert();
          }
        }

        .findbar-textbox {
          background: none !important;
          padding: 0 !important;
          font-size: 13px !important;
          box-shadow: none !important;
          width: 100% !important;
          border: none !important;

          /*noinspection CssInvalidFunction*/

          &::-moz-selection {
            background: light-dark(var(--zen-primary-bg), color-mix(in srgb, var(--zen-primary-bg) 60%, white)) !important;
          }
        }

        toolbarbutton {
          width: 24px !important;
          justify-content: space-between !important;
          padding: 4px !important;
          margin-left: 4px !important;
        }
      }

      checkbox, label, description {
        margin-left: 4px !important;
        margin-right: 6px !important;
      }

      .findbar-label {
        display: flex;
        flex-basis: 100% !important;

        &:is([hidden="true"]) {
          display: none;
        }
      }

      .findbar-find-status {
        display: none;

        &:is([data-l10n-id]) {
          display: flex;
        }
      }
    }
  }
}
