@-moz-document domain(monkeytype.com) {
  body {
    background: transparent !important;
  }
}

@-moz-document domain(zen-browser.app) {
  body,
  html {
    background: transparent !important;
  }
}

@-moz-document domain(reddit.com) {
  body,
  html {
    background: transparent !important;
  }
  #comment-tree {
    background: transparent !important;
  }
  .bg-neutral-background,
  .bg-neutral-background-weak {
    background: rgba(0, 0, 0, 0.1) !important;
  }
  .bg-\[color\:var\(--shreddit-content-background\)\] {
    background-color: transparent !important;
  }
  .threadline,
  .shreddit-post,
  aside,
  comment-body-header,
  shreddit-comment-tree {
    background-color: transparent !important;
  }
}

@-moz-document domain(chatgpt.com) {
  body, html,
    .bg-token-main-surface-primary, /* Navbar */
    .bg-token-sidebar-surface-primary, /* Sidebar */
    .bg-token-sidebar-surface-primary * /* All sidebar elements */ {
    background: transparent !important;
  }
}

@-moz-document domain(monica.im) {
  body,
  html {
    background: transparent !important;
  }
}

@-moz-document domain(google.com) {
  .sfbg {
    background-color: rgba(255, 255, 255, 0.5) !important;
    backdrop-filter: blur(20px);
  }
  body,
  html,
  .f6F9Be,
  div#search > * {
    background-color: transparent !important;
  }
  .g,
  .appbar {
    background-color: transparent !important;
  }
  div#rso {
    * {
      background-color: transparent !important;
    }
  }
  div#cnt > div {
  }
}

@-moz-document domain(search.brave.com) {
  body,
  html {
    background: transparent !important;
  }
  .snippet.svelte-n9nog2 {
    background: transparent !important;
  }
}

@-moz-document domain(github.com) {
  body,
  html,
  header,
  #repository-container-header,
  .gh-header,
  .bgColor-muted,
  section,
  .feed-background,
  .color-bg-default {
    background-color: transparent !important;
  }

  .feed-item-content,
  .discussion-timeline-actions {
    background-color: rgba(0, 0, 0, 0.1) !important;
  }
}

@-moz-document domain(duckduckgo.com) {
  body,
  html,
  .site-wrapper,
  .zci-wrap,
  .zci,
  .header-wrap,
  .metabar,
  .footer,
  *::before,
  .module--translations-translatedtext {
    background: transparent !important;
  }
}

@-moz-document domain(discord.com) {
  :root {
    .layer_cd0de5 :is([role="dialog"], .streamPreview_adbea6) {
      background: hsl(var(--primary-700-hsl)) !important;
    }

    --primary-560: rgba(0, 0, 0, 0.05) !important;
    --primary-600: rgba(0, 0, 0, 0.05) !important;
    --primary-630: rgba(0, 0, 0, 0.05) !important;
    --primary-645: rgba(0, 0, 0, 0.05) !important;
    --primary-660: rgba(0, 0, 0, 0.05) !important;
    --primary-700: rgba(0, 0, 0, 0.05) !important;
    --primary-730: rgba(0, 0, 0, 0.05) !important;
    --primary-760: rgba(0, 0, 0, 0.05) !important;
    --primary-830: rgba(0, 0, 0, 0.05) !important;
    --primary-860: rgba(0, 0, 0, 0.05) !important;
    --primary-900: rgba(0, 0, 0, 0.05) !important;
  }

  [class^="focusLock_"] {
    --saturation-factor: 1;
    --primary-600: hsl(var(--primary-600-hsl) / 1) !important;
    --primary-600-hsl: 222.857 calc(var(--saturation-factor, 1) * 6.667%)
      20.588% !important;
    --modal-background: var(--primary-600);
  }

  .no-webkit-scrollbar * {
    scrollbar-width: none !important;
  }
}

@-moz-document domain(x.com) {
  :root {
    --theme-popup: rgba(0, 0, 0, 0.8);
    --theme-bg-dim: rgba(0 ,0, 0, 0.4);
  }

  body {
    background-color: var(--theme-bg-dim) !important;
  }

  [data-testid="primaryColumn"],
  [aria-label="Trending"] > * > *,
  [aria-label="Home timeline"] > *> *,
  [aria-label="Search"] > * {
    background: transparent !important;
  }
  
  select,
	[data-testid="Dropdown"],
	[data-testid="hoverCardParent"],
	[data-testid="DMDrawer"] > div,
	div[role="dialog"],
	div[role="listbox"],
	div[role="radio"] {
		background: var(--theme-popup) !important;
	}

  .r-kemksi, .r-5zmot {
    background: transparent !important;
  }
}

@-moz-document domain(instagram.com){
  *{
    background-color: transparent !important;
  }
  div.xixxii4:nth-child(2){
    background-color: rgba(0, 0, 0, 0.15) !important;
    border-right: transparent !important;
    border-radius: 5px !important;
  }
  div.x1hnuoi9:nth-child(1) > div:nth-child(1){
    background-color: rgba(0, 0, 0, 0.6) !important;
  }
  .xseo6mj{
    padding-top: 10px !important;
    background-color: rgba(0, 0, 0, 0.15) !important;
    border-radius: 5px !important;
  }
  .x1uipg7g{
    border-left: transparent !important;
    border-right: transparent !important;
  }
  div.xjp7ctv:nth-child(1) > div:nth-child(1) > div:nth-child(2){
    background-color: rgba(0, 0, 0, 0.1) !important;
    border-radius: 5px !important;
  }
  *{
    --mwp-message-row-background: transparent !important;
  }
  .x1u3tz30{
    background-color: rgba(0, 0, 0, 0.55) !important;
    border-radius: 5px !important;
    backdrop-filter: blur(10px) !important; 
  }
  .xmnaoh6 > div:nth-child(1) > div:nth-child(1){
    padding-left: 8px !important;
    padding-right: 8px !important;
    background-color: rgba(0, 0, 0, 0.15) !important;
    border-radius: 5px !important;
  }
  .x1p0ryx0{
    border-right: 0 !important;
  }
  .xq9evs9{
    background-color: rgba(0, 0, 0, 0.4) !important;
    border-radius: 5px !important;
    backdrop-filter: blur(10px) !important; 
  }
  .x1l895ks:hover{
    background-color: rgba(0, 0, 0, 0.3) !important;
    border-radius: 5px !important;
  }
  .x19g9edo{
    background-color: rgba(0, 0, 0, 0.3) !important;
    border-radius: 5px !important;
  }
  .xrrpcnn{
    background-color: rgba(0, 0, 0, 0.3) !important;
    border-radius: 1.5rem !important;
  }
  .xpmdkuv{
    background-color: rgba(255, 255, 255, 0.2) !important;
    border-radius: 1.5rem !important;
  }
  .x1yvgwvq{
    background-color: rgba(255, 255, 255, 0.2) !important;
    border-radius: 1rem !important;
  }
  .x1tu34mt{
    background-color: rgb(var(--ig-primary-button)) !important;
  }
  div.x1afcbsf{
    background-color: rgba(0, 0, 0, 0.4) !important;
    border-radius: 10px !important;
    backdrop-filter: blur(10px) !important; 
  }
  .xleuxlb > div:nth-child(1){
    border-right: transparent !important;
  }
}
