@-moz-document domain(monkeytype.com) {
  body {
    background: transparent !important;
  }
}

@-moz-document domain(zen-browser.app) {
  body,
  html {
    background: transparent !important;
  }
}

@-moz-document domain(reddit.com) {
  body,
  html {
    background: transparent !important;
  }
  #comment-tree {
    background: transparent !important;
  }
  .bg-neutral-background,
  .bg-neutral-background-weak {
    background: rgba(0, 0, 0, 0.1) !important;
  }
  .bg-\[color\:var\(--shreddit-content-background\)\] {
    background-color: transparent !important;
  }
  .threadline,
  .shreddit-post,
  aside,
  comment-body-header,
  shreddit-comment-tree {
    background-color: transparent !important;
  }
}

@-moz-document domain(chatgpt.com) {
  body, html,
    .bg-token-main-surface-primary, /* Navbar */
    .bg-token-sidebar-surface-primary, /* Sidebar */
    .bg-token-sidebar-surface-primary * /* All sidebar elements */ {
    background: transparent !important;
  }
}

@-moz-document domain(deepseek.com) {
  body, html,
  ._48cdfc1, ._83421f9 ._2f87737 {
    background: transparent !important;
  }
  [data-ds-dark-theme] ._2be88ba,
  [data-ds-dark-theme] ._77cefa5,
  .b8812f16, [data-ds-dark-theme] ._83421f9 {
    background: rgba(0,0,0,0.2) !important;
  }
  [data-ds-dark-theme] .dd442025,
  [data-ds-dark-theme] ._62b4800,
  [data-ds-dark-theme] ._62b4800,
  ._871cbca {
    background: none !important;
  }
}

@-moz-document domain(app.raindrop.io) {
  html,
  body,
  .svMain,
  .main-XeiN,
  article,
  .svReader {
    background-color: transparent !important;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    transition: background-color 0.5s ease-in-out, background 0.5s ease-in-out,
      border 0.5s ease-in-out, box-shadow 0.5s ease-in-out !important;
  }
  .grid-fBOX .permalink-Wc76,
  .masonry-hCrE .permalink-Wc76,
  article:before,
  .header-Tqac,
  .button-dQdc[data-variant="outline"],
  .svSidebar,
  .svSidebar::after {
    background-color: transparent !important;
    background: rgba(0, 0, 0, 0.2) !important;
    border: none !important;
    box-shadow: none !important;
    transition: background-color 0.5s ease-in-out, background 0.5s ease-in-out,
      border 0.5s ease-in-out, box-shadow 0.5s ease-in-out !important;
  }
  body {
    font-family: "Atkinson Hyperlegible", sans-serif !important;
  }

  .footer-jiX_[data-compact="true"] {
    background: none !important;
  }
  .header-Tqac[data-fancy="true"],
  .header-Tqac[data-solid="true"] {
    backdrop-filter: blur(10px);
  }
}

@-moz-document domain(monica.im) {
  body,
  html {
    background: transparent !important;
  }
}

@-moz-document domain(google.com) {
  .sfbg {
    background-color: rgba(255, 255, 255, 0.5) !important;
    backdrop-filter: blur(20px);
  }
  body,
  html,
  .f6F9Be,
  div#search > * {
    background-color: transparent !important;
  }
  .g,
  .appbar {
    background-color: transparent !important;
  }
  div#rso {
    * {
      background-color: transparent !important;
    }
  }
  div#cnt > div {
  }
}

@-moz-document domain(search.brave.com) {
  body,
  html {
    background: transparent !important;
  }
  .snippet.svelte-n9nog2 {
    background: transparent !important;
  }
}

@-moz-document domain(github.com) {
  body,
  html,
  header,
  #repository-container-header,
  .gh-header,
  .bgColor-muted,
  section,
  .feed-background,
  .color-bg-default {
    background-color: transparent !important;
  }

  .feed-item-content,
  .discussion-timeline-actions {
    background-color: rgba(0, 0, 0, 0.1) !important;
  }
}

@-moz-document domain(duckduckgo.com) {
  body,
  html,
  .site-wrapper,
  .zci-wrap,
  .zci,
  .header-wrap,
  .metabar,
  .footer,
  *::before,
  .module--translations-translatedtext {
    background: transparent !important;
  }
}

@-moz-document domain(discord.com) {
  :root, .theme-light,
  .theme-dark {
   --background-primary: #00000000 !important;
   --background-secondary: #00000000 !important;
   --background-tertiary: #00000000 !important;
   --home-background: #00000000 !important;
   --bg-base-primary: #00000000 !important;
   --background-base-lowest: transparent !important;
  }
  html, body, #pass-sidebar, header, .app-root, #main, main, #content,
  .callContainer_cb9592, .bg__960e4, .tabBody__133bf, .chat_f75fb0, .page_c48ade,
  .children__9293f::after, .contentRegionScroller__23e6b, .childContainer__91a9d,
  .visual-refresh .member__5d473, .visual-refresh .content__908e2, .container_f369db, [aria-label="Resize Sidebar"] {
    background-color: transparent !important;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    transition: background-color 0.5s ease-in-out, background 0.5s ease-in-out, border 0.5s ease-in-out, box-shadow 0.5s ease-in-out !important;
  }
  nav, section, .header__34c2c, 
  .visual-refresh .container__37e49,
  .container_c8ffbb, .members_c8ffbb,
  .visual-refresh .sidebar_c48ade,
  :where(.visual-refresh) .themedBackground__74017,
  .visual-refresh .channelTextArea_f75fb0 {
    background-color: transparent !important;
    background: rgba(0, 0, 0, 0.1) !important;
    border: none !important;
    box-shadow: none !important;
    transition: background-color 0.5s ease-in-out, background 0.5s ease-in-out, border 0.5s ease-in-out, box-shadow 0.5s ease-in-out !important;
  }
  .title_c38106 {
    background-color: transparent !important;
    background: rgba(0, 0, 0, 0.3) !important;
  }
  .visual-refresh .sidebarListRounded_c48ade {
    border-top-left-radius: 0 !important;
    border: 0 !important
  }
  .mainCard_f369db{
   background: none !important;
  }
  .floating__01ae2 {
    background-color: var(--panel-bg) !important;
  }
  img.bannerImg_f37cb1 {
   border-radius: 0 0 1em 1em !important;
  }
  .app_a3002d{
    color: transparent !important;
  }
}

@-moz-document domain(instagram.com){
  *{
    background-color: transparent !important;
  }
  div.xixxii4:nth-child(2){
    background-color: rgba(0, 0, 0, 0.15) !important;
    border-right: transparent !important;
    border-radius: 5px !important;
  }
  div.x1hnuoi9:nth-child(1) > div:nth-child(1){
    background-color: rgba(0, 0, 0, 0.6) !important;
  }
  .xseo6mj{
    padding-top: 10px !important;
    background-color: rgba(0, 0, 0, 0.15) !important;
    border-radius: 5px !important;
  }
  .x1uipg7g{
    border-left: transparent !important;
    border-right: transparent !important;
  }
  div.xjp7ctv:nth-child(1) > div:nth-child(1) > div:nth-child(2){
    background-color: rgba(0, 0, 0, 0.1) !important;
    border-radius: 5px !important;
  }
  *{
    --mwp-message-row-background: transparent !important;
  }
  .x1u3tz30{
    background-color: rgba(0, 0, 0, 0.55) !important;
    border-radius: 5px !important;
    backdrop-filter: blur(10px) !important; 
  }
  .xmnaoh6 > div:nth-child(1) > div:nth-child(1){
    padding-left: 8px !important;
    padding-right: 8px !important;
    background-color: rgba(0, 0, 0, 0.15) !important;
    border-radius: 5px !important;
  }
  .x1p0ryx0{
    border-right: 0 !important;
  }
  .xq9evs9{
    background-color: rgba(0, 0, 0, 0.4) !important;
    border-radius: 5px !important;
    backdrop-filter: blur(10px) !important; 
  }
  .x1l895ks:hover{
    background-color: rgba(0, 0, 0, 0.3) !important;
    border-radius: 5px !important;
  }
  .x19g9edo{
    background-color: rgba(0, 0, 0, 0.3) !important;
    border-radius: 5px !important;
  }
  .xrrpcnn{
    background-color: rgba(0, 0, 0, 0.3) !important;
    border-radius: 1.5rem !important;
  }
  .xpmdkuv{
    background-color: rgba(255, 255, 255, 0.2) !important;
    border-radius: 1.5rem !important;
  }
  .x1yvgwvq{
    background-color: rgba(255, 255, 255, 0.2) !important;
    border-radius: 1rem !important;
  }
  .x1tu34mt{
    background-color: rgb(var(--ig-primary-button)) !important;
  }
  div.x1afcbsf{
    background-color: rgba(0, 0, 0, 0.4) !important;
    border-radius: 10px !important;
    backdrop-filter: blur(10px) !important; 
  }
  .xleuxlb > div:nth-child(1){
    border-right: transparent !important;
  }
}
